<!DOCTYPE html>
<html lang="en">

{{> partials/header}}

<body>
    <div id="app">
        <div id="sidebar" class="active">
            {{> partials/sidebar}}
        </div>
        <div id="main">
            {{> partials/page-title}}
            <section class="section">
                    <div class="bottom-pad">
                        <a href="/add-file" class="btn icon icon-left btn-primary"><i data-feather="edit"></i>Upload New File</a>
                    </div>                
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Current Files</h4>
                    </div>
                    <div class="card-body">
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        </p>
                    </div>
                </div>
            </section>

            {{> partials/footer}}
        </div>
    </div>
</body>

</html>