<!DOCTYPE html>
<html lang="en">

{{> partials/header}}

<body>
    <div style="height:200px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="card" id="login-card">
                    <div class="card-header" id="login-header">
                        <h4 class="card-title" id="login-title">Login</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            {{#error}}
                                <div class="alert alert-danger alert-dismissible show fade">
                                    {{error}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            {{/error}}
                            <form class="form form-horizontal" method="POST" action="/login">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>User Name:</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="first-name" class="form-control"
                                                name="username" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Password</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="password" id="password" class="form-control"
                                                name="password" placeholder="">
                                        </div>
                                        <div class="col-12 col-md-8 offset-md-4 form-group">
                                            <div class='form-check'>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox1"
                                                        class='form-check-input' checked>
                                                    <label for="checkbox1">Remember Me</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button type="submit"
                                                class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <script src="/themes/mazer/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/themes/mazer/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/themes/mazer/assets/js/main.js"></script>
</body>
</html>